body {
  background-color: #0A480D;
}
#heading {
  font-size: 100px;
  text-align: center;
  font-family: Arial;
  margin-top: 30px;
  font-weight: bold;
  color: white;
}
#container {
  min-width: 700px;
  margin: auto;
}
#entry {
  border: 2px solid black;
  background-color: #870022;
  margin: 10px auto;
  width: 550px;
}
#enterspot {
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  color: black;
  background-color: white;
  margin: 20px 20px 20px 20px;
  padding: 3px 3px 3px 3px;
}
#enterbar {
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  color: black;
  background-color: white;
  margin: 20px 20px 20px 20px;
  padding: 3px 3px 3px 3px;
}
#runbutton {
  border-radius: 8px;
  font-family: Arial;
  text-align: center;
  background-image: url('matrix.gif');
  color: white;
  font-size: 15px;
  width: 200px;
  margin: auto;
  display: block;
}
#returner {
  border: 2px solid black;
  background-color: #870022;
  margin: 10px auto;
  width: 550px;
}
#returnerspot {
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  color: black;
  background-color: white;
  margin: 20px 20px 20px 20px;
  padding: 3px 3px 3px 3px;
}
#copytoclip {
  position: left;
  height: 10px;
}
