body {
  /*background-color: #0A480D;*/
  background-color:black;
}
#heading {
  animation-name: header;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 4s;
  border-radius: 8px;
  background-color: #0A480D;
  font-size: 65px;
  text-align: center;
  font-family: Comic;
  font-weight: bold;
  color: white;
  transition: width 3s, color 3s, background-color 3s;
  width: 800px;
  margin: 50px auto 50px auto;
}
#container {
  min-width: 700px;
  margin: auto;
}
#entry {
  border: 2px solid black;
  background-color: #0A480D;
  margin: 20px auto;
  width: 550px;
}
#enterspot {
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  color: black;
  background-color: white;
  margin: 20px 20px 20px 20px;
  padding: 3px 3px 3px 3px;
}
#enterbar {
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  color: black;
  background-color: white;
  margin: 20px 20px 20px 20px;
  padding: 3px 3px 3px 3px;
}
#runbutton {
  border-radius: 8px;
  font-family: Arial;
  text-align: center;
  background-image: url('matrix.gif');
  color: #c0c0c0;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  margin: 25px auto 25px auto;
  display: block;
}
#returner {
  border: 2px solid black;
  background-color: #0A480D;
  margin: 20px auto;
  width: 550px;
}
#returnerspot {
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  color: black;
  background-color: white;
  margin: 20px 20px 20px 20px;
  padding: 3px 3px 3px 3px;
}
#author {
  text-align: center;
  color: white;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: white;
}
a:link {
  color: white;
}
a:visited {
  color: #0A480D;
}
a:hover {
  color: #15541A;
  text-decoration: underline;
}
#copyspot {
  visibility: hidden;
  height: 0px;
  width: 0px;
  bottom: 0px;
  left: 0px;
  position: fixed;
}
@keyframes header {
  from {}
  to {background-color:black; width: 500px;}
}
